body {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.navbar1 {
    background-color: #333;
    justify-content: left;
    width: 100%;
    height: auto;
    padding: 10px;
    text-decoration: none;
}  

.nav-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 50px;
}

.nav-button:hover {
    background-color: #ffffff23;
}

.active {
    border-bottom: 2px solid #03fcef;
}